<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
<div id="app">
    <my-component-a></my-component-a>
</div>

<div id="appb">
    <my-component-b></my-component-b>
</div>

<div id="appc">
    <my-component-c></my-component-c>
    <my-component-d></my-component-d>
</div>

<div id="appe">
    <my-component-e></my-component-e>
</div>
<!-- 组件模板 -->
<template id="myComponentE">
    <div>this is my e component!</div>
</template>


<div id="appf">
    <my-component-f v-bind:my-name="name" v-bind:my-age="age" v-bind:sex="sex"></my-component-f>
</div>

<!-- 组件模板F -->
<template id="myComponentF">
	<table>
		<tr>
			<th colspan="3">
				子组件数据
			</th>
		</tr>
		<tr>
			<td>my name</td>
			<td>{{ myName }}</td>
		</tr>
		<tr>
			<td>my age</td>
			<td>{{ myAge }}</td>
        </tr>
        <tr>
            <td>my sex</td>
            <td>{{sex}}</td>
        </tr>
	</table>
</template>

<div id="appg">
    <table>
        <tr>
            <th colspan="3">父组件数据</th>
        </tr>
        <tr>
            <td>my name</td>
            <td>{{name}}</td>
            <td><input type="text" v-model="name" /></td>
        </tr>
        <tr>
            <td>my age</td>
            <td>{{age}}</td>
            <td><input type="text" v-model="age" /></td>
        </tr>
        <tr>
            <td>my sex</td>
            <td>{{sex}}</td>
            <td><input type="text" v-model="sex" /></td>
        </tr>
    </table>

    <my-component-g v-bind:my-name.sync="name" v-bind:my-age.sync="age" v-bind:sex.sync="sex"></my-component-g>

</div>

<!-- 子组件g -->
<template id="myComponentG">
    <table>
        <tr>
            <th colspan="3">子组件数据</th>
        </tr>
        <tr>
            <td>my name</td>
            <td>{{myName}}</td>
            <td><input type="text" v-model="myName" /></td>
        </tr>
        <tr>
            <td>my age</td>
            <td>{{myAge}}</td>
            <td><input type="text" v-model="myAge" /></td>
        </tr>
        <tr>
            <td>my sex</td>
            <td>{{sex}}</td>
            <td><input type="text" v-model="sex" /></td>
        </tr>
    </table>
</template>


<script>
    //1.创建一个组件构造器
    let myComponenta = Vue.extend({
        data:function(){
            return {
                count:0
            }
        },        
        template:`<button v-on:click="count++">you click here {{count}} times</button>`

    });
    //2.祖册组件
    // Vue.component('my-component-a',myComponenta);

    let vm = new Vue({
        el:'#app',
        components:{
            //2.将myComponenta组件祖册到Vue实例下。
            'my-component-a':myComponenta
        }
    });


    // 组件语法糖
    //全局注册
    Vue.component('my-component-b',{  //这种模式Vue会自动调用Vue.extend()创建组件构造器
        template:'<div>this is my b component</div>'
    });

    let vmb = new Vue({
        el:"#appb"
    });

    //在选项对象的components属性中实现局部注册
    let vm2 = new Vue({
        el:'#appc',
        components:{
            //局部注册，组件名称
            'my-component-c':{
                template:'<div>this is my c component</div>'
            },
            'my-component-d':{
                template:'<div>this is my d component</div>'
            }
        }
    });

    // Vue.component('my-component-e',{
    //     template:'#my-component-e'
    // });

    let vme = new Vue({
        el:'#appe',
        components:{
            'my-component-e':{
                template:'#myComponentE'
            }
        }
    });


    let vmf = new Vue({
        el:'#appf',
        data:{
            'name':'nihao',
            'age':18,
            'sex':'male'
        },
        components:{
            'my-component-f':{
                template:'#myComponentF',
                props:['myName','myAge','sex']
            }
            
        }
    });

    let vmg = new Vue({
        el:'#appg',
        data:{
            'name':'nihao',
            'age':18,
            'sex':'male'
        },
        components:{
            'my-component-g':{
                template:'#myComponentG',
                props:['myName','myAge','sex']
            }
            
        }
    });


</script>


<script>
// 注册组件3步骤：1创建组件构造器（Vue.extend({})），2注册组件（Vue.component()），使用组件。
// 1.Vue.extend()  是Vue构造器的扩展，调用 Vue.extend() 创建的是一个组件构造器，而不是一个具体的组件实例。
// 2.Vue.extend() 构造器有一个选项对象，选项对象的template属性用于定义组件要渲染的HTML。
// 3.使用Vue.component()注册组件时，需要提供2个参数，第一个参数是组件标签，第2个参数是组件构造器。
// 4.Vue.compoent() 方法内部会调用组件构造器，创建一个组件实例。
// 5.组件应该挂载到某个Vue实例下，否则它不会生效。

// 在定义组件的选项时，data和el选项必须使用函数。

// 组件实例的作用域是孤立的。这意味着不能并且不应该在子组件的模板内直接引用父组件的数据。可以使用 props 把数据传给子组件。

// 在父组件中使用子组件时，通过以下语法将数据传递给子组件：
// <child-component v-bind:子组件prop="父组件数据属性"></child-component>

// prop默认是单向绑定：当父组件的属性变化时，将传导给子组件，但是反过来不会。这是为了防止子组件无意修改了父组件的状态

</script>

</body>
</html>